/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Generated gem files
*.gem
plagiarism-checker-3.2.1.gem
plagiarism-checker-3.5.0.gem
plagiarism-checker-3.6.0.gem
plagiarism-checker-3.6.1.gem
plagiarism-checker-3.7.0.gem
plagiarism-checker-4.0.0.gem
